

.nav{
text-align: center;
background-color: hsl(0, 0%, 32%);;

position: fixed;
top: 0px;
line-height: 3.5em;
width: 100%;
color: white;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.main h1{
    margin-left: 110px;
}

.navigation p {
    opacity: 100%;
}

#close{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(225deg) brightness(111%) contrast(101%);
}




@media screen and (min-width:760px){
    .nav{
        display: none;
    }
}