

.middle{
  padding: 33px;
    text-align: center;
    background-color: hsl(0, 0%, 87%);

}

@media screen and (min-width:760px){

  .middle{
    background-color: hsl(0, 0%, 87%);
    margin-top: 80px;
  }

  .middle p{
    font-size: 16px;
  }


  .heading{
    text-align: left;
    padding: 56px;
    width: 34%;
  }
  
  .reasons{
  display: flex;
  }
  
  .online-banking{
  padding: 34px;
  width: 35%;
  }
  
  .simple-budgeting{
  padding: 34px;
  width: 35%;
  }
  
  .fast-onboarding{
  padding: 34px;
  width: 35%;
  }
  
  .api{
  padding: 34px;
  width: 35%;
  }
}

